# Seminar 10

## <font color = "green"> Writing and reading from txt, csv, excel files</font>

### Reading from txt file

In [ ]:
import io
inf = open('numbers.txt','r')
# Initialize the total
total = 0
# Total the values in the file
line = inf.readline()
while line != "":
  total = total + float(line)
  line = inf.readline()
# Close the file
inf.close()
# Display the result
print("The total of the values in numbers.txt file is ", total)

The total of the values in numbers.txt file is  210.0

In [ ]:
# Read the file name from the user and open the file
fname = input("Enter the file name: ")
inf = open(fname, "r")
# Initialize total and read all of the lines from the file
total = 0
lines = inf.readlines()
# Total the values in the file
for line in lines:
  total = total + float(line)
# Close the file
inf.close()
# Display the result
print("The total of the values in", fname, "is", total)

Enter the file name: numbers.txt
The total of the values in numbers.txt is 210.0

In [ ]:
f = open('anna.txt', 'r')
text = f.read()
print(text)

Happy families are all alike; every unhappy family is unhappy in its
own way.

Everything was in confusion in the Oblonskys’ house. The wife had
discovered that the husband was carrying on an intrigue with a French
girl, who had been a governess in their family, and she had announced
to her husband that she could not go on living in the same house with
him. This position of affairs had now lasted three days, and not only
the husband and wife themselves, but all the members of their family
and household, were painfully conscious of it. Every person in the
house felt that there was no sense in their living together, and that
the stray people brought together by chance in any inn had more in
common with one another than they, the members of the family and
household of the Oblonskys. The wife did not leave her own room, the
husband had not been at home for three days. The children ran wild all
over the house; the English governess quarreled with the housekeeper,
and wrote to a friend asking her to look out for a new situation for
her; the man-cook had walked off the day before just at dinner time;
the kitchen-maid, and the coachman had given warning.

Three days after the quarrel, Prince Stepan Arkadyevitch
Oblonsky—Stiva, as he was called in the fashionable world—woke up at
his usual hour, that is, at eight o’clock in the morning, not in his
wife’s bedroom, but on the leather-covered sofa in his study. He turned
over his stout, well-cared-for person on the springy sofa, as though he
would sink into a long sleep again; he vigorously embraced the pillow
on the other side and buried his face in it; but all at once he jumped
up, sat up on the sofa, and opened his eyes.

“Yes, yes, how was it now?” he thought, going over his dream. “Now, how
was it? To be sure! Alabin was giving a dinner at Darmstadt; no, not
Darmstadt, but something American. Yes, but then, Darmstadt was in
America. Yes, Alabin was giving a dinner on glass tables, and the
tables sang, _Il mio tesoro_—not _Il mio tesoro_ though, but something
better, and there were some sort of little decanters on the table, and
they were women, too,” he remembered.

### Writing to txt file

In [ ]:
f = open('anna.txt','w')
f.write("This is classical novel")
f.close()

In [ ]:
f = open('anna.txt','w')
f.write("Indeed so")
f.close()

In [ ]:
# after each opening file with permission 'w' 
#the insights of the file would be deleted

In [ ]:
f = open('anna.txt','a')
f.write("This is classical novel")
f.close()

In [ ]:
f = open('anna.txt','a')
f.write("Indeed so")
f.close()

In [ ]:
f = open('years.txt', 'w')
for years in range(1999,2021):
  f.write("This {} year comes before {} year\n".format(years, years-1))
f.close()

In [ ]:
f = open('anna.txt','r+')
f_out = open('modified.txt', 'w')
for line in f:
  tokens = line.split(' ')
  f_out.write("Words in the line " + str(len(tokens))+ " " + line)
f.close()
f_out.close()

In [ ]:
# "with" is the special keyword in Python that allows you to open files
# and do not worry about closing them.
# there is also different extensions for reading and writing r+,w+ rb+,a+

### Writing to csv file

In [ ]:
# Lets write to csv file 

import csv
with open('some_file.csv','w') as csvdata:
  writer = csv.writer(csvdata)
  writer.writerow(['year','month','day'])
  for i in range(1999,2020):
    writer.writerow([i,'February', 14])

In [ ]:

import csv
with open('some_file.csv','w') as csvdata:
  writer = csv.writer(csvdata)
  writer.writerow(['year','month','day'])
  for i in range(1999,2020):
    for mont in ['January', 'February', 'March']:
      writer.writerow([i,mont, 14])

In [ ]:
# Lets
import csv
with open('./sample_data/california_housing_test.csv', newline='') as f:
    reader = csv.reader(f)
    count = 0
    for row in reader:
      print(row)
      #lets print only ten rows of the file california_housing_test.csv
      if count >10 :
        break
      count = count +1

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
['-122.050000', '37.370000', '27.000000', '3885.000000', '661.000000', '1537.000000', '606.000000', '6.608500', '344700.000000']
['-118.300000', '34.260000', '43.000000', '1510.000000', '310.000000', '809.000000', '277.000000', '3.599000', '176500.000000']
['-117.810000', '33.780000', '27.000000', '3589.000000', '507.000000', '1484.000000', '495.000000', '5.793400', '270500.000000']
['-118.360000', '33.820000', '28.000000', '67.000000', '15.000000', '49.000000', '11.000000', '6.135900', '330000.000000']
['-119.670000', '36.330000', '19.000000', '1241.000000', '244.000000', '850.000000', '237.000000', '2.937500', '81700.000000']
['-119.560000', '36.510000', '37.000000', '1018.000000', '213.000000', '663.000000', '204.000000', '1.663500', '67000.000000']
['-121.430000', '38.630000', '43.000000', '1009.000000', '225.000000', '604.000000', '218.000000', '1.664100', '67000.000000']
['-120.650000', '35.480000', '19.000000', '2310.000000', '471.000000', '1341.000000', '441.000000', '3.225000', '166900.000000']
['-122.840000', '38.400000', '15.000000', '3080.000000', '617.000000', '1446.000000', '599.000000', '3.669600', '194400.000000']
['-118.020000', '34.080000', '31.000000', '2402.000000', '632.000000', '2830.000000', '603.000000', '2.333300', '164200.000000']
['-118.240000', '33.980000', '45.000000', '972.000000', '249.000000', '1288.000000', '261.000000', '2.205400', '125000.000000']