# <font color = "red"> Seminar 9

###<font color = "blue">1 Exercise.</font><br>
Compute and display the median of three values entered by the user. This program includes two implementations of the median function that demonstrate different techniques for computing the median of three values.

In [ ]:
def median(a, b, c):
  if a < b and b < c or a > b and b > c:
    return b
  if b < a and a < c or b > a and a > c:
    return a
  if c < a and b < c or c > a and b > c:
    return c

### <font color ="blue">2 Exercise</font> <br>
Create function that will prompt user to enter three values and return a median of those values

In [ ]:
def main():
  x = float(input("Enter the first value: "))
  y = float(input("Enter the second value: "))
  z = float(input("Enter the third value: "))
  print("The median value is:", median(x, y, z))

### <font color="blue">3 Exercise</font><br>
Given the length of two sides of right triangle, compute hypothenuse.

In [ ]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://i0.wp.com/mathblog.com/wp-content/uploads/2017/03/pythagoras-theorem.gif?fit=403%2C290&ssl=1g")

In [ ]:
def hypothenuse(a,b):
  c = sqrt(a**2 + b**2)
  return c

### <font color="blue">4 Exercise</font> <br>
In a particular jurisdiction, taxi fares consist of a base fare of \$4.00, plus \$0.25
for every 140 meters travelled. Write a function that takes the distance travelled (in
kilometers) as its only parameter and returns the total fare as its only result. Write a
main program that demonstrates the function.<br>

In [ ]:
def taxi_fare(distance):
  bill = 4+0.25*distance/140
  return bill

In [ ]:
taxi_fare(100)

'4.2$'

<font color="blue">5th Exercise</font><br>
Create drawBox function that will take as an argument two variables width and height, that will draw box from star shaped symbol with given width and height.

In [ ]:
def drawBox():
  print("**********")
  print("*        *")
  print("*        *")
  print("**********")

In [ ]:
drawBox()

**********
*        *
*        *
**********

The drawBox function works correctly. It draws the particular box that it was
intended to draw, but it is not flexible, and as a result, it is not as useful as it could be.
In particular, our function would be more flexible and useful if it could draw boxes
of many different sizes.


Many functions take arguments which are values provided inside the parentheses
when the function is called. The function receives these argument values in parameter
variables that are included inside the parentheses when the function is defined. The
number of parameter variables in a function’s definition indicates the number of
arguments that must be supplied when the function is called.


We can make the drawBox function more useful by adding two parameters to its
definition. These parameters, which are separated by a comma, will hold the width
of the box and the height of the box respectively. The body of the function uses the
values in the parameter variables to draw the box, as shown below. An if statement
and the quit function are used to end the program immediately if the arguments
provided to the function are invalid.

In [ ]:
def drawBox(width, height):
# A box that is smaller than 2x2 cannot be drawn by this function
  if width < 2 or height < 2:
    print("Error: The width or height is too small.")
    quit()
  # Draw the top of the box
  print("*" * width)
  # Draw the sides of the box
  for i in range(height - 2):
    print("*" + " " * (width - 2) + "*")
  # Draw the bottom of the box
  print("*" * width)

In [ ]:
drawBox(width = 10, height =3)

**********
*        *
**********

In [ ]:
drawBox(10,3)

**********
*        *
**********

In [ ]:
drawBox(height = 3 , width =10)

**********
*        *
**********

In [ ]:
def drawBox(width, height, outline): 
# A box that is smaller than 2x2 cannot be drawn by this function
  if width < 2 or height < 2:
    print("Error: The width or height is too small.")
    quit()
  # Draw the top of the box
  print(outline * width)
  # Draw the sides of the box
  for i in range(height - 2):
    print(outline + " " * (width - 2) + outline)
  # Draw the bottom of the box
  print(outline * width)

In [ ]:
drawBox(10, 4, '@')

@@@@@@@@@@
@        @
@        @
@@@@@@@@@@

In [ ]:
drawBox(10, 4, '#')

##########
#        #
#        #
##########

In [ ]:
def drawBox(width, height, outline, fill): 
# A box that is smaller than 2x2 cannot be drawn by this function
  if width < 2 or height < 2:
    print("Error: The width or height is too small.")
    quit()
  # Draw the top of the box
  print(outline * width)
  # Draw the sides of the box
  for i in range(height - 2):
    print(outline + fill * (width - 2) + outline)
  # Draw the bottom of the box
  print(outline * width)

In [ ]:
drawBox(10, 4, '@', '?')

@@@@@@@@@@
@????????@
@????????@
@@@@@@@@@@

In [ ]:
def drawBox(width, height, outline = '*', fill = '.'): 
# A box that is smaller than 2x2 cannot be drawn by this function
  if width < 2 or height < 2:
    print("Error: The width or height is too small.")
    quit()
  # Draw the top of the box
  print(outline * width)
  # Draw the sides of the box
  for i in range(height - 2):
    print(outline + fill * (width - 2) + outline)
  # Draw the bottom of the box
  print(outline * width)

In [ ]:
drawBox(10, 4, '@', '?')

@@@@@@@@@@
@????????@
@????????@
@@@@@@@@@@

In [ ]:
drawBox(11, 7, '@', '?')

@@@@@@@@@@@
@?????????@
@?????????@
@?????????@
@?????????@
@?????????@
@@@@@@@@@@@

## <font color ="green">[Formating strings](https://docs.python.org/3/library/string.html#)</font>

In [ ]:
name = 'John'
salary = 25000.7
age = 35

In [ ]:
# 1st method
print("The name of your employee.", name, " His age is.", age, " His salary is ", salary)

The name of your employee. John  His age is. 35  His salary is  25000.7

In [ ]:
# 2nd method
print("The name of your employee %s. His age is %d. His salary %g"%(name, age, salary))

The name of your employee John. His age is 35. His salary 25000.7

In [ ]:
# 3rd method
print("The name of your employee {}. His age is {}. His salary is {}".format(name, age, salary))

The name of your employee John. His age is 35. His salary is 25000.7

In [ ]:
for year in range(1995, 2020):
  print("This year {} comes after {} the year".format(year, year-1))

This year 1995 comes after 1994 the year
This year 1996 comes after 1995 the year
This year 1997 comes after 1996 the year
This year 1998 comes after 1997 the year
This year 1999 comes after 1998 the year
This year 2000 comes after 1999 the year
This year 2001 comes after 2000 the year
This year 2002 comes after 2001 the year
This year 2003 comes after 2002 the year
This year 2004 comes after 2003 the year
This year 2005 comes after 2004 the year
This year 2006 comes after 2005 the year
This year 2007 comes after 2006 the year
This year 2008 comes after 2007 the year
This year 2009 comes after 2008 the year
This year 2010 comes after 2009 the year
This year 2011 comes after 2010 the year
This year 2012 comes after 2011 the year
This year 2013 comes after 2012 the year
This year 2014 comes after 2013 the year
This year 2015 comes after 2014 the year
This year 2016 comes after 2015 the year
This year 2017 comes after 2016 the year
This year 2018 comes after 2017 the year
This year 2019 comes after 2018 the year

## <font color = "green"> Writing and reading from txt, csv, excel files</font>

### Reading from txt file

In [ ]:
import io
inf = open('numbers.txt','r')
# Initialize the total
total = 0
# Total the values in the file
line = inf.readline()
while line != "":
  total = total + float(line)
  line = inf.readline()
# Close the file
inf.close()
# Display the result
print("The total of the values in numbers.txt file is ", total)

The total of the values in numbers.txt file is  210.0

In [ ]:
# Read the file name from the user and open the file
fname = input("Enter the file name: ")
inf = open(fname, "r")
# Initialize total and read all of the lines from the file
total = 0
lines = inf.readlines()
# Total the values in the file
for line in lines:
  total = total + float(line)
# Close the file
inf.close()
# Display the result
print("The total of the values in", fname, "is", total)

Enter the file name: numbers.txt
The total of the values in numbers.txt is 210.0

In [ ]:
f = open('anna.txt', 'r')
text = f.read()
print(text)

Happy families are all alike; every unhappy family is unhappy in its
own way.

Everything was in confusion in the Oblonskys’ house. The wife had
discovered that the husband was carrying on an intrigue with a French
girl, who had been a governess in their family, and she had announced
to her husband that she could not go on living in the same house with
him. This position of affairs had now lasted three days, and not only
the husband and wife themselves, but all the members of their family
and household, were painfully conscious of it. Every person in the
house felt that there was no sense in their living together, and that
the stray people brought together by chance in any inn had more in
common with one another than they, the members of the family and
household of the Oblonskys. The wife did not leave her own room, the
husband had not been at home for three days. The children ran wild all
over the house; the English governess quarreled with the housekeeper,
and wrote to a friend asking her to look out for a new situation for
her; the man-cook had walked off the day before just at dinner time;
the kitchen-maid, and the coachman had given warning.

Three days after the quarrel, Prince Stepan Arkadyevitch
Oblonsky—Stiva, as he was called in the fashionable world—woke up at
his usual hour, that is, at eight o’clock in the morning, not in his
wife’s bedroom, but on the leather-covered sofa in his study. He turned
over his stout, well-cared-for person on the springy sofa, as though he
would sink into a long sleep again; he vigorously embraced the pillow
on the other side and buried his face in it; but all at once he jumped
up, sat up on the sofa, and opened his eyes.

“Yes, yes, how was it now?” he thought, going over his dream. “Now, how
was it? To be sure! Alabin was giving a dinner at Darmstadt; no, not
Darmstadt, but something American. Yes, but then, Darmstadt was in
America. Yes, Alabin was giving a dinner on glass tables, and the
tables sang, _Il mio tesoro_—not _Il mio tesoro_ though, but something
better, and there were some sort of little decanters on the table, and
they were women, too,” he remembered.

### Writing to txt file

In [ ]:
f = open('anna.txt','w')
f.write("This is classical novel")
f.close()

In [ ]:
f = open('anna.txt','w')
f.write("Indeed so")
f.close()

In [ ]:
# after each opening file with permission 'w' 
#the insights of the file would be deleted

In [ ]:
f = open('anna.txt','a')
f.write("This is classical novel")
f.close()

In [ ]:
f = open('anna.txt','a')
f.write("Indeed so")
f.close()

In [ ]:
f = open('years.txt', 'w')
for years in range(1999,2021):
  f.write("This {} year comes before {} year\n".format(years, years-1))
f.close()

In [ ]:
f = open('anna.txt','r+')
f_out = open('modified.txt', 'w')
for line in f:
  tokens = line.split(' ')
  f_out.write("Words in the line " + str(len(tokens))+ " " + line)
f.close()
f_out.close()

In [ ]:
# "with" is the special keyword in Python that allows you to open files
# and do not worry about closing them.
# there is also different extensions for reading and writing r+,w+ rb+,a+

### Writing to csv file

In [ ]:
# Lets write to csv file 

import csv
with open('some_file.csv','w') as csvdata:
  writer = csv.writer(csvdata)
  writer.writerow(['year','month','day'])
  for i in range(1999,2020):
    writer.writerow([i,'February', 14])

In [ ]:

import csv
with open('some_file.csv','w') as csvdata:
  writer = csv.writer(csvdata)
  writer.writerow(['year','month','day'])
  for i in range(1999,2020):
    for mont in ['January', 'February', 'March']:
      writer.writerow([i,mont, 14])

In [5]:
# Lets
import csv
with open('./sample_data/california_housing_test.csv', newline='') as f:
    reader = csv.reader(f)
    count = 0
    for row in reader:
      print(row)
      #lets print only ten rows of the file california_housing_test.csv
      if count >10 :
        break
      count = count +1

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
['-122.050000', '37.370000', '27.000000', '3885.000000', '661.000000', '1537.000000', '606.000000', '6.608500', '344700.000000']
['-118.300000', '34.260000', '43.000000', '1510.000000', '310.000000', '809.000000', '277.000000', '3.599000', '176500.000000']
['-117.810000', '33.780000', '27.000000', '3589.000000', '507.000000', '1484.000000', '495.000000', '5.793400', '270500.000000']
['-118.360000', '33.820000', '28.000000', '67.000000', '15.000000', '49.000000', '11.000000', '6.135900', '330000.000000']
['-119.670000', '36.330000', '19.000000', '1241.000000', '244.000000', '850.000000', '237.000000', '2.937500', '81700.000000']
['-119.560000', '36.510000', '37.000000', '1018.000000', '213.000000', '663.000000', '204.000000', '1.663500', '67000.000000']
['-121.430000', '38.630000', '43.000000', '1009.000000', '225.000000', '604.000000', '218.000000', '1.664100', '67000.000000']
['-120.650000', '35.480000', '19.000000', '2310.000000', '471.000000', '1341.000000', '441.000000', '3.225000', '166900.000000']
['-122.840000', '38.400000', '15.000000', '3080.000000', '617.000000', '1446.000000', '599.000000', '3.669600', '194400.000000']
['-118.020000', '34.080000', '31.000000', '2402.000000', '632.000000', '2830.000000', '603.000000', '2.333300', '164200.000000']
['-118.240000', '33.980000', '45.000000', '972.000000', '249.000000', '1288.000000', '261.000000', '2.205400', '125000.000000']

## <font color = "green">List comprehension</font>

In [6]:
[i for i in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[i*2 for i in range(0,11)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
[i for i in range(0,11) if i%2 == 0]

[0, 2, 4, 6, 8, 10]