<a href="https://colab.research.google.com/github/IliasSuvanov/DSforEconomists/blob/master/Seminar16/Seminar16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seminar 15

## Plan

- Quick recap of pandas
- Pandas dtypes
- Handling missing data
- Operating on Null values
- Comparing Null values
- Example of conversion of dtypes

## Quick recap of pandas

In [138]:
df = pd.read_stata('id1.dta')

In [117]:
df.head()

   hhid  pid i100  ...           i104 i106                              i107
0  2001    1    9  ...  Some increase    7                                 9
1  2001    2    9  ...  Some increase    7                                 8
2  2001    3    8  ...  Some increase    7  completely willing to take risks
3  2002    1    6  ...      No change    6                                 2
4  2003    1    8  ...  Some increase    8                                 5

[5 rows x 17 columns]

In [118]:
df["hhid"]

0        2001
1        2001
2        2001
3        2002
4        2003
        ...
8026    21804
8027    21805
8028    21805
8029    21807
8030    21807
Name: hhid, Length: 8031, dtype: int16

In [119]:
df['edu'] = df['hhid']*2

In [120]:
df.head()

   hhid  pid i100  ... i106                              i107   edu
0  2001    1    9  ...    7                                 9  4002
1  2001    2    9  ...    7                                 8  4002
2  2001    3    8  ...    7  completely willing to take risks  4002
3  2002    1    6  ...    6                                 2  4004
4  2003    1    8  ...    8                                 5  4006

[5 rows x 18 columns]

In [123]:
df['hhid']/df['pid']

0        2001.0
1        1000.5
2         667.0
3        2002.0
4        2003.0
         ...
8026    10902.0
8027    21805.0
8028    10902.5
8029    21807.0
8030    10903.5
Length: 8031, dtype: float64

#### ***.iloc and .loc***

In [129]:
df.iloc[5:10, 0:5]

   hhid  pid i100 i101_1 i101_2
5  2003    2    9      9      9
6  2003    3    7      7      7
7  2004    1    9      8      8
8  2004    2    8      6      8
9  2004    3    7      7      5

In [136]:
df.iloc[:, 0:2] = 'hi'

In [137]:
df.head()

  hhid pid i100  ... i106                              i107   edu
0   hi  hi    9  ...    7                                 9  4002
1   hi  hi    9  ...    7                                 8  4002
2   hi  hi    8  ...    7  completely willing to take risks  4002
3   hi  hi    6  ...    6                                 2  4004
4   hi  hi    8  ...    8                                 5  4006

[5 rows x 18 columns]

#### [.loc documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

In [152]:
df = df.rename(index = {0:'apple', 1:'pear', 2:'peach'})
df.head()

       hhid  pid i100  ...           i104 i106                              i107
apple  2001    1    9  ...  Some increase    7                                 9
pear   2001    2    9  ...  Some increase    7                                 8
peach  2001    3    8  ...  Some increase    7  completely willing to take risks
3      2002    1    6  ...      No change    6                                 2
4      2003    1    8  ...  Some increase    8                                 5

[5 rows x 17 columns]

In [149]:
df.iloc['apple']

TypeError: ignored

In [153]:
df.loc['apple']

hhid                            2001
pid                                1
i100                               9
i101_1                             8
i101_2     10 (completely satisfied)
i101_3                             9
i101_4                             9
i101_6                             9
i101_7     10 (completely satisfied)
i101_8                             9
i101_9     10 (completely satisfied)
i101_10                            9
i103                   Some increase
i102                       No change
i104                   Some increase
i106                               7
i107                               9
Name: apple, dtype: object

In [155]:
df.loc[['apple', 'peach'], ['hhid','pid']]

       hhid  pid
apple  2001    1
peach  2001    3

In [157]:
df.loc[['apple', 'peach'], 'hhid':'i101_7']

       hhid  pid i100 i101_1  ... i101_3 i101_4 i101_6                     i101_7
apple  2001    1    9      8  ...      9      9      9  10 (completely satisfied)
peach  2001    3    8      8  ...      6      3      8             not applicable

[2 rows x 9 columns]

In [145]:
df.loc[:,['hhid', 'i107']]

       hhid                              i107
0      2001                                 9
1      2001                                 8
2      2001  completely willing to take risks
3      2002                                 2
4      2003                                 5
...     ...                               ...
8026  21804                                 3
8027  21805                                 3
8028  21805                                 4
8029  21807                                 6
8030  21807                                 6

[8031 rows x 2 columns]

In [158]:
df.index = range(100,len(df)+100)

In [159]:
df.head()

     hhid  pid i100  ...           i104 i106                              i107
100  2001    1    9  ...  Some increase    7                                 9
101  2001    2    9  ...  Some increase    7                                 8
102  2001    3    8  ...  Some increase    7  completely willing to take risks
103  2002    1    6  ...      No change    6                                 2
104  2003    1    8  ...  Some increase    8                                 5

[5 rows x 17 columns]

In [162]:
df.loc[0]

KeyError: ignored

In [170]:
df.loc[ (df['hhid'] == 2001) | (df['hhid'] == 2002), ['i100']]

    i100
100    9
101    9
102    8
103    6

### pandas dtypes

**.dtypes** returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns. Columns with mixed types are stored with the object dtype.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'float': [1.0],'int': [1],  'datetime': [pd.Timestamp('20180310')], 'string': ['foo']})

In [ ]:
df.head()

   float  int   datetime string
0    1.0    1 2018-03-10    foo

In [ ]:
df.dtypes

float              float64
int                  int64
datetime    datetime64[ns]
string              object
dtype: object

In [83]:
pd.Series(['a', 'b' , 'c'])

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [ ]:
pd.Series([1,2,3, 4.99 ])

0    1.00
1    2.00
2    3.00
3    4.99
dtype: float64

- int8	Byte **(-128 to 127)**
- int16	Integer **(-32768 to 32767)**
- int32	Integer **(-2147483648 to 2147483647)**
- int64	Integer **(-9223372036854775808 to 9223372036854775807)**

In [76]:
a = pd.Series([1,2,3,4], dtype = 'int8')
a

0    1
1    2
2    3
3    4
dtype: int8

In [78]:
a*100

0    100
1    -56
2     44
3   -112
dtype: int8

In [79]:
b = pd.Series([10,10,10,10], dtype = 'object')
b

0    10
1    10
2    10
3    10
dtype: object

## Handling Missing data

- NaN (np.nan)
- NA
- Null
- None
- -999

In [85]:
None

In [86]:
np.nan

nan

In [89]:
1+ None

TypeError: ignored

In [87]:
1 * np.nan

nan

In [88]:
0 + np.nan

nan

In [ ]:
pd.Series([1,2,3, np.nan ])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
type(np.nan)

float

In [91]:
ser1 = pd.Series([1,2,3, np.nan ])
ser1.sum()

6.0

In [92]:
sum([1,2,3])

6

In [93]:
sum([1,2,3, None])

TypeError: ignored

In [ ]:
pd.Series([1,2,3, None])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
ser = pd.Series([1,2,3, None])
ser[3]

nan

In [ ]:
type(ser[3])

numpy.float64

### Operating on Null values

In [94]:
df = pd.DataFrame([[1,     np.nan, 2],
                   [2,     3,      5],
                   [np.nan,4,      6]])

In [95]:
df.head()

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [96]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [97]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [98]:
df[3]=np.nan

In [99]:
df.head()

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [ ]:
df.dropna(axis='columns', how='all')

In [102]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [103]:
df.fillna(0)

     0    1  2    3
0  1.0  0.0  2  0.0
1  2.0  3.0  5  0.0
2  0.0  4.0  6  0.0

In [104]:
df.head()

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [109]:
df.fillna(method='ffill', axis='columns')

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [110]:
df.isnull()

       0      1      2     3
0  False   True  False  True
1  False  False  False  True
2   True  False  False  True

### Comparing null values

In [111]:
None == None

True

In [112]:
np.nan == np.nan

False

### Example of conversion of types

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [ ]:
df.head()

        one       two     three
a  0.731722  0.436887  0.637660
c  0.971716  0.547851 -1.231778
e  1.163103  0.793894 -1.315594
f -0.035346  1.119270 -1.242017
h -1.181279  0.472420  0.945438

In [ ]:
df['four'] = 'four'

In [ ]:
df['five'] = 5

In [ ]:
df['Condition'] = df['one']>0

In [ ]:
df.head()

        one       two     three  four  Condition  five
a  0.731722  0.436887  0.637660  four       True     5
c  0.971716  0.547851 -1.231778  four       True     5
e  1.163103  0.793894 -1.315594  four       True     5
f -0.035346  1.119270 -1.242017  four      False     5
h -1.181279  0.472420  0.945438  four      False     5

In [ ]:
df.dtypes

one          float64
two          float64
three        float64
four          object
Condition       bool
five           int64
dtype: object

In [ ]:
df1 = df.reindex(['a','b','c','d','e','g','h'])

In [ ]:
df1.head()

        one       two     three  four Condition  five
a  0.731722  0.436887  0.637660  four      True   5.0
b       NaN       NaN       NaN   NaN       NaN   NaN
c  0.971716  0.547851 -1.231778  four      True   5.0
d       NaN       NaN       NaN   NaN       NaN   NaN
e  1.163103  0.793894 -1.315594  four      True   5.0

In [ ]:
df1.dtypes

one          float64
two          float64
three        float64
four          object
Condition     object
five         float64
dtype: object


| Typeclass | Conversion when storing NAs  | Marker  |   |   |
|---|---|---|---|---|
| floating  | No change  | None or np.nan  |   |   |
| object  | No change  | None or np.nan  |   |   |
| integer  | cast to float64  | np.nan  |   |   |
| Boolean | cast to object  | None or np.nan  |   |   |