# Python
Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

# <font color=red>Seminar 1</font> 
* ### Variables
* ### Arithmetic operations
* ###  Strings

## Variables
Variables are containers that can hold any type of data(numeric data, text data, etc.)

In [12]:
rent = 1200
gas = 100
groceries = 50

In [13]:
print(rent)

1200

In [14]:
total = rent + gas +groceries 
print(total)

1350

Variables called variables, because value in it can vary

In [15]:
item1 = "rent"
item2 = "gas"
item3 = "groceries"
print("Individual expenses:", item1, item2, item3)

Individual expenses: rent gas groceries

There is some naming conventions for naming variables, for example you cannot use True for naming variable, because True is the python key-word

## Arifmetic operations

In [16]:
3/4

0.75

In [17]:
4*5

20

In [18]:
10+7

17

In [19]:
11%2

1

In [20]:
10**2

100

Simple problem: you are travelling from Bishkek to Tokmok then to Issyk-Kul. You want to know how much total distance you will be travelling.

In [21]:
bish_tok = 100
tok_issyk = 300
total_distance = bish_tok + tok_issyk
speed_km = 65
total_time = total_distance / speed_km
print(total_distance, total_time)

400 6.153846153846154

In [22]:
round(total_time,2)

6.15

There two types of numbers: integer ( 2,3,5,111) and float (3.4423, 23.432, 233.434).

## Strings
Strings are used to store the text data.
For example you want to store word ice cream

In [24]:
text = 'ice cream'
text

'ice cream'

![title](icecream.png)

In [25]:
text[0]

'i'

In [27]:
text[1]

'c'

In [28]:
text[2] = 'g'

TypeError: 'str' object does not support item assignment

Strings are immutable in python

In [29]:
text[0:3]

'ice'

In [30]:
text[4:9]

'cream'

In [31]:
text[4:]

'cream'

In [32]:
text[:3]

'ice'

In [33]:
text = "hello"

In [34]:
text = 'hello'

In [ ]:
text = "let's learn python"

### Multiline strings

In [37]:
adress = '''Aaly Tokombaeva 
Bishkek
Kyrgyzstan'''
print(adress)

Aaly Tokombaeva
Bishkek
Kyrgyzstan

In [38]:
adress

'Aaly Tokombaeva \nBishkek\nKyrgyzstan'

In [40]:
s1 = "hello"
s2 = "world"
s3 = s1 + s2
print(s3)

helloworld

In [41]:
s = "total number of states in Kyrgyzstan #"
num = 7
s + num

TypeError: can only concatenate str (not "int") to str

In [42]:
str(num)

'7'

In [43]:
s+str(num)

'total number of states in Kyrgyzstan #7'

## <font color = red> Seminar 2</font>


* #### List, Dictionary and Sets in Python
* #### Python rules on how to write code 
* #### If statement examples
* ####  For loop statement examples

___

## What is List, Dictionary and Sets
<img src="materials.jpg" alt="Drawing" style="width: 200px;"/> ----> 
<img src="house.jpeg" alt="Drawing" style="width: 200px;"/>

### List 
A **list** is a **collection of arbitrary objects**. List defined by square brackets.

In [27]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [28]:
fruits.count('apple')

2

In [29]:
fruits.count('mandarin')

0

In [4]:
fruits.index('banana')

3

In [5]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [7]:
fruits.reverse()
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [8]:
fruits.append('grape')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [9]:
fruits.sort() #will sort in alphabetic order
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [31]:
fruits.pop()

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

# Dictionary
A dictionary as a set of key: value pairs.
<img src="phone.jpg" alt="Drawing" style="width: 200px;"/>

In [38]:
tel = {'jack': 4098, 'alex': 4139}

In [39]:
tel['guido'] = 4127
tel

{'jack': 4098, 'alex': 4139, 'guido': 4127}

In [40]:
tel['jack']

4098

In [41]:
del tel['alex']

In [42]:
tel['ivan'] = 4127

In [43]:
tel

{'jack': 4098, 'guido': 4127, 'ivan': 4127}

In [44]:
list(tel)

['jack', 'guido', 'ivan']

In [45]:
sorted(tel)

['guido', 'ivan', 'jack']

In [46]:
'guido' in tel

True

In [47]:
'jack' not in tel

False

# Sets
A __set__ is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.

In [86]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [87]:
print(basket)  # show that duplicates have been removed

{'banana', 'apple', 'pear', 'orange'}

In [88]:
'orange' in basket

True

In [89]:
'crabgrass' in basket

False

In [90]:
a = set('abracadabra')
b = set('alacazam')

In [91]:
a

{'a', 'b', 'c', 'd', 'r'}

In [92]:
a - b

{'b', 'd', 'r'}

In [93]:
a & b

{'a', 'c'}

## Python rules on how to write code

* Indentation refers to the spaces at the beginning of a code line.

* Python uses indentation to indicate a block of code.

In [1]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

In [2]:
if 5>2:
print("Five greater than two")

IndentationError: expected an indented block (<ipython-input-2-897cbefb77f5>, line 2)

### Prejudice Survey
***
> * Are you asian american?
> > * Have you exeprienced prejudices towards you after covid-19 epidemics?
___
> * Are you african american?
> > * Have you experienced unjustified stop check?
___
> * Else, please specify what prejudicies you have experienced

---

### Diagram

<img src="code_blocks.png">

___
___

## IF statement


### <font color= red>IF</font> 
<img src="fast_foods.png"> 
###  <font color= red>--->>></font> 

<img src="gym.png">

###  <font color= red> ELSE</font> 
<img src="relax.png">

### Health Survey 
<img src="Health_Survey.png">

***

In [48]:
a = input()
b = input()
if b > a:
    print("b is greater than a")
else: 
    print("b is smaller than a")

10
14
b is greater than a

In [ ]:
heartbeat_rate = input("Please enter heartbeat rate:")
heartbeat_rate = int(heartbeat_rate)

In [ ]:
if heartbeat_rate => 60 and heartbeat_rate <= 90:
    print("Everything is ok")
elif heartbeat_rate < 60 and heartbeat_rate >0 :
    print("Please visit your doctor immediately, too low hb")
elif heartbeat_rate > 90 and heartbeat_rate <140 :
    print("Please visit your doctor immediately, too high hb")
else: 
    print("Please enter right value")

In [2]:
japanese_cars = ["toyota", "honda"]
german_cars = ["mercedes", "audi", "bmw"]
usa_cars = ["ford", "GM"]
car_name = input("Please enter car name:")

Please enter car name:toy

In [3]:
if car_name in japanese_cars:
    print("The car is Japanese")
if car_name in german_cars:
    print("The car is German")
if car_name in usa_cars :
    print("The car is American")
else: 
    print("Not known")

Not known

Write a programm that ask user to enter the number, then the program should print whether the number is odd or even.

In [45]:
num = input("Enter a number:")
num = int(num)

Enter a number:3

In [46]:
if num%2 == 0:
    print("the number is even")
else:
    print("the number is odd")

the number is odd

In [47]:
num%2 == 0

False

In [49]:
4 == 4

True

In [50]:
4 != 4

False

In [51]:
2 > 3

False

In [52]:
2 <= 3

True

In [53]:
3 > 2 and 4 > 1

True

In [54]:
3 > 2 and 4 < 1

False

In [55]:
3 > 2 or 4 > 1

True

In [56]:
3 > 2 or 4 < 1

True

In [57]:
not True

False

In [58]:
not 4==4

False

A programm ask user to enter a city name and it should print to which country this city belongs.

In [60]:
Kyrgyzstan = ['Bishkek', 'Tokmok', 'Djalal-Abad']
Uzbekistan = ['Tashkent', 'Samarkand', 'Buhara']
Kazakhstan = ['Almaty', 'Shymkent', 'Nur-Sultan']

In [63]:
city = input("Enter city name: ")
if city in Kyrgyzstan:
    print(city, "is in Kyrgyzstan")
elif city in Uzbekistan:
    print(city, "is in Uzbekistan")
elif city in Kazakhstan:
    print(city, "is in Kazakhstan")
else:
    print("Sorry I don't whether this is city located")

Enter city name: Bishkek
Bishkek is in Kyrgyzstan

## For Loop Statement
A __for__ loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the __for__ loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Les's compute total expenditure for groceriecs from January to May

In [50]:
exp = [100, 200, 150 ,300, 400, 300]
#Without for loop to compute total expenditure is cumbersome
total = exp[0] + exp[1] + exp[2] + exp[3]+exp[4]+ exp[5]
print(total)

1450

In [69]:
exp = [100, 200, 150 ,300, 400, 300]
total = 0

for i in exp:
    total = total + i

print(total)

750

![title](diagram.png)

In [10]:
for i in range(1,11):
    print(i)
    
# range can also accept negative step

1
2
3
4
5
6
7
8
9
10

In [75]:
for i in range(len(exp)):
    print("Your month: ", (i+1), "Expenses", exp[i])

Your month:  1 Expenses 100
Your month:  2 Expenses 200
Your month:  3 Expenses 150
Your month:  4 Expenses 300

In [5]:
list_of_reservations = ["Mike", "Jack", "Patrick", "Stacty", "Jessica"]
for person in list_of_reservations:
    if person == "Patrick":
        print("Patric can come in")
        break
    else:
        print(person,"is not Patric")

Mike is not Patric
Jack is not Patric
Patric can come in

In [7]:
for i in range(10):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

In [9]:
i = 1
while i<=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

## Exercises in the class

1. ### Accept number from user and calculate the sum of all number between 1 and given number
2. ### Reverse following list using for loop statement *list1 = [10, 20, 30, 40, 50]*
3. ### Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
4. ### Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
5. ### Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies.
6. ### Ask for a number and compute its  factorial
7. ### Print First 10 natural numbers using while loop
8. ### Display -10 to -1 using for loop

In [23]:
import random
target_number = random.randint(1, 10)
guess_number = 0
while target_number != guess_number:
    guess_number = int(input("Continue until you guessed it"))
print("you guessed it well")

Continue until you guessed it2
Continue until you guessed it3
Continue until you guessed it4
Continue until you guessed it5
Continue until you guessed it6
Continue until you guessed it7